.header{
    background-color: transparent;
    position: relative;
    z-index: 999;
    width: 70%;
    margin: 0 auto;
}


.header_img{
    float: left;
    vertical-align: middle;
    width: 245px;
    margin-top: 35px;
    margin-left: -50px;
}


.header_font{
    display: inline-block;
    float: left;
    vertical-align: middle;
    width: 245px;
    height: 80px;
    margin-left: -50px;
    line-height: 80px;
    font-size: 24px;
    color: #CF0B64;
    /*border: 3px solid #fff;*/
    text-border: 3px solid #fff;
}
.header >ul{
    float: right;

    margin-top: 35px;
}

.header>ul>li{
    width: 80px;
    margin-left:20px;
    text-align: center;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    /*font-size: 16;*/
    float: left;
    border: 2px solid transparent;
}
.menu>li{
    position: relative;
}

.menu >.active{
    border: 2px solid #fff;
}
.menu>li:nth-child(1){
    background: #E65260;
}

.menu>li:nth-child(2){
    background: #97C83E;
}

.menu>li:nth-child(3),.menu>li:nth-child(3) ul{
    background: #F3C768;
}
.menu>li:nth-child(4),.menu>li:nth-child(4) ul{
    background:#35B1D1 ;
}

.course{
    position: relative;
}

.course_list{
    position: absolute;
    top:10px;
    left:-1px;
    padding-top: 20px;
    z-index: 10;
}

.course_list ul{
    width: 80px;
    text-align: center;
    border: 2px solid #CEF47F;
    border-radius: 45px;
    padding: 25px 0;
    background:#97C83E;
}
.course_list ul >li{
    font-size: 14px ;
    /*margin-bottom: 15px;*/
    height: 30px;
}
.course_list ul >li span{
    display: inline-block;
    padding-bottom: 5px;
   border-bottom: 2px solid transparent;
    /*border-bottom-width: 40px;*/
}

.course_list .active{
    border-bottom: 2px solid #fff;
}
    /*首页*/
.home_page{
    background: url("../../images/homepage/shouye_bg.png")no-repeat;
    background-size:100%100%;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../../images/homepage/shouye_bg.png",sizingMethod='scale');
    padding-top: 112px;


    /*position: relative;*/
}
.page_js{
    display: flex;
    align-items: flex-end;

    margin: auto;
    justify-content: center;

    position: absolute;
    top:18%;
    width:100%;
    margin-left: -3rem;

}
.course_js{

    /*background: url("../../images/biaotikuang_xuanzhong.png")no-repeat;*/
    background: url("../../images/homepage/pingtaijieshao.png");
    margin: 0 50px;
    position: relative;
    width: 16%;
    height: 45px;
    background-size:100%100%;
}
.page_js .active{
     background: url("../../images/homepage/biaotikuang_xuanzhong.png")no-repeat;

    width: 18%;
    height: 65px;
    background-size:100%100%;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/homepage/biaotikuang_xuanzhong.png',sizingMethod='scale');




 }
.page_js .active a{
    bottom: 16%;
}

.course_js a{
    font-size:18px;
    color:#623D0E;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 30%;
    ;

}

.terrace_js{
    width: 16%;
    height: 45px;
    background: url("../../images/homepage/pingtaijieshao.png");
    background-size:100%100%;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/homepage/pingtaijieshao.png',sizingMethod='scale');
    position: relative;
}

.terrace_js a{
    font-size:18px;
    color:#623D0E;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 30%;

}
.js_content{
    /*position: absolute;*/
    position: relative;
    top:34%;
    width: 42%;
    margin: auto;
    line-height:1.5;
    font-size: 14px;
}

.js_content h3{
    color:#DE7110;
    margin-bottom: 10px;
}


.course_word{
    font-size: 14px;
    position: absolute;
    right: 27%;
    top:24.5%
}
.terrace_word{
    font-size: 14px;
    position: absolute;
    right: 27%;
    top:29%
}

.img_right{
    position: absolute;
    right: 28%;
    top:37%
}
.img_left{
    transform:rotate(240deg);
    position: absolute;
    right: 28%;
    top:41%
}

.home_page .active{
    color: #fff;
}
.digitization_course,.worksheets, .wicro_course, .course_resource,.soon_learn{
    background: url("../../images/digitization_course/bg2.png");

    background-size:100%100%;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/digitization_course/shouye_bg.png',sizingMethod='scale');
}

.dig_content{
    /*background: url("../../images/neirongkuang3.png")no-repeat;*/
    /*background-size:100%100%;*/
    position: absolute;
    width: 70%;
    height: 70%;
    margin: auto;
    top:15%;
    left:0;
    bottom: 0;
    right: 0;
    padding: 3% 5% 0 5%;
    border:8px solid #97C83E;
    background: #fff;
    border-radius: 40px;
    /*box-shadow:0 0  10px 5px #aaa;*/


}

.head_img{
    background: url("../../images/digitization_course/dongwubiaotikuang.png");;
    background-size:100%100%;
    position: absolute;
    top:-14%;
    left: 2%;
    height: 85px;
    width: 260px;
}

.dis_word{
    position: absolute;
    top:53%;
    left:50%;
    color: #fff;
}
.dig_head{
    /*position: absolute;*/
    /*top:18%;*/
    /*left: 5%;*/
    /*width: 80%;*/
    border-bottom: 3px solid #F2BB74;
}
.dig_head >ul{
   display: flex;
    padding-left: 1rem;
}

.dig_head >ul a{
    color:#DF6A1A;
    padding: 4px 15px;
    font-weight: bold;
    border: 3px solid transparent;
    border-bottom: none;
}
.dig_head >ul .active{
    border: 3px solid #F2BB74;
    border-top-left-radius: 1em ;
    border-top-right-radius: 1em ;
    border-bottom: none;
}
.dis_main ul li{
   float: left;
    width: 22%;
    text-align: center;
    padding-top: 15px;
    position: relative;
    margin-right:3% ;
}

.font-14{
    font-size: 14px;
}
.font-16{
    font-size: 16px;
}

/*学习单*/

.work_menu{
    border:2px solid #fff;
    background: #94C643;
    color: #fff;
    position: absolute;
    padding: 3px 10px;
    border-radius: 20px;
    right: 10%;
    top:-12%

}

/*.worksheets .dig_content{*/
    /*padding-top: 1%;*/
/*}*/


.worksheets .course_table th,.worksheets .course_table td{
    /*text-align: center;*/
}

.worksheets .pagination{
    bottom: -10px;
    left: auto;
}
.icon-left{
    display: inline-block;
    height: 0;
    width: 0;
    border-top: 9px solid transparent;
    border-right: 12px solid #fff;
    border-bottom: 9px solid transparent;
    vertical-align: middle;
    margin-right: 10px;
}

.icon-right{
    display: inline-block;
    height: 0;
    width: 0;
    border-top: 9px solid transparent;
    border-left: 12px solid #fff;
    border-bottom: 9px solid transparent;
    vertical-align: middle;
    margin-left: 10px;
}
.colorCom{
    color: #DF6A1A;
}
.work_main{
    height: 80%;
}
.ma-tl5{
    margin-top: 15px;
}
.work_main_con{
    width:94%;
    height: 48%;
    background: url("../../images/neirong_bg.png")no-repeat ;
    background-size:100%100%;
    margin-bottom: 3%;
    /*padding-top: 10px;*/
}

.work_main_ul{
    overflow: hidden;
    padding: 0 10%;
}
.work_main_ul li{
    float: left;
    width: 33%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.work_main_ul li img{
    width: 80%;
    margin: auto;
}
.work_main_word{
    display: flex;
    justify-content: center;
}
.work_main_word li{
    padding: 0 15px;
}

.work_main_right{
    position: absolute;
    right: 5%;
    top:25% ;
}

.work_main_right li,.learn_con_right li{
    width: 35px;
    border: 2px solid #fff;
    border-radius: 20px;
    text-align: center;
    padding: 5px 0;
    margin-bottom: 20px;
    color: #fff;
}
.work_main_right li:hover{
    cursor: pointer;
}
.backEEA151{
    background: #EEA151;
}

.backA6E24E{
    background:#A6E24E;
}

/*微课*/
.play_img{
    position: absolute;
    margin: auto;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}
.wicro_course .dis_main ul li{
    padding-top: 15px;
}
.ma-b15{
    margin-bottom: 15px;
}

/*课程资源*/


.course_resource .pagination ,.digitization_course .pagination{
    bottom:-15px;
    left: auto;
}

.course_head{
    /*padding-top: 5%;*/

    -moz-padding-top:5%;
    padding-left: 3%;
    display: flex;
    justify-content: space-between;
}

@-moz-document url-prefix(){
    .course_head{
        padding-top: 40px;
    }
}
.menulist_ul{
    display: flex;
    /*padding-top: 5.5%;*/
}

.menulist_ul li{
    background: #fff;
    margin-right: 20px;
    padding: 2px 20px;
    border-top-left-radius: 1em ;
    border-top-right-radius: 1em ;
    border: 5px solid transparent;

    font-weight: 600;

}
.menulist_ul .active{
    border: 5px solid #A5E24D;
    border-bottom: none;
}
.menulist_ul li a{
    color:#333;

}


/*.course_resource .dig_content{*/
    /*padding-top:2% ;*/
/*}*/
.operate_ul{
    position: absolute;
    right: 2%;
    top:-10%;
    display: flex;

}

.operate_ul li{
    /*padding: 5px 15px;*/
    margin-left: 15px;


    text-align: center;
}

.operate_ul li button{


    display: inline-block;
    padding: 3px  15px;
    border-radius: 20px;
    background: #fff;
    border: none;
}
.res_menu{
    display: flex;
    padding: 0.5rem 1rem;
}

.res_menu li{
    margin-right: 3rem;
    font-size: 0.8rem;
    border-radius: 5px;
    padding: 3px 0.5rem;
}

.res_menu .active{
    background:#F3AF66 ;
    color: #fff;

}

.course_table{
   display: flex;
    align-items: center;
    justify-content: center;
}
.course_table table{
    width: 100%;
}
.circle{
    display: inline-block;
    width: 10px;
    height:10px;
    border-radius:50% ;
    background: #F1D581;
}


.course_table table tr{
    border-bottom:2px dashed  #A5E24D;
}
.course_table table tr td,.course_table table tr th{
    padding: 15px 3px;
}
.w40{
    width: 35%;
}

.course_foot{
    display: flex;
    justify-content: center;
    padding-top: 5%;
}
.paging_ul {
    display: flex;
}

.paging_ul li{
    padding: 4px;

}

.paging_ul li span,.paging_ul li i{
    display: inline-block;
    width: 20px;
    height:20px ;
    border-radius: 50%;

    text-align: center;
    line-height: 20px;
}

.paging_ul li .active{
    background: #A5E24D;
}

.paging_ul li i{
    background: #618F1E;
    color: #fff;
    font-size: 14px;

}
.resources_pagination{
    bottom: -10px;
}

.resources_pagination >li:first-child>a{
    background: #618F1E;
}

.resources_pagination >li:last-child>a{
    background: #618F1E;
}

.resources_pagination .active a{
    background: #A5E24D;
}

.resources_pagination > .disabled > a:hover{
    background: #618F1E;
}
    /*马上学习*/
.learn_content{
    position: absolute;
    width: 70%;
    height: 75%;
    display: flex;

    margin: auto;
    top:5%;
    left:0;
    bottom: 0;
    right: 0;




}

/*.learn_content .dig_content{*/
    /*width: 80%;*/
    /*height: 80%;*/
    /*float: r;*/
/*}*/
.learn_left{

    /*background: url("../../images/digitization_course/mulu.png")no-repeat;*/
    /*background-size:100%100%;*/
    width: 10%;
    margin-right: 2%;
    display: flex;
    justify-content: center;
    padding-top: 3%;
    border: 3px solid #A5E24D;
    background: #fff;
    border-radius: 100px;
    margin-top: 5%;
    height:75%
}

.learn_left_ul li{
    text-align: center;
    padding: 5px 0;
    /*color: #fff;*/
}

.learn_left_ul li span{
    display: inline-block;
    padding: 0 5px;
    width: 100%;
    border-bottom: 2px solid transparent;
    background: #DCDCDC;
    border-radius: 3px;

}

.learn_left_ul li .active{
    /*border-bottom: 2px solid #fff;*/
    background: #A5E24D;
    color: #fff;
}
.learn_right{
    margin-top: 5%;
    width:86%;
    height: 95%;
    padding: 3% 5% 0 2%;
    border:8px solid #97C83E;
    background: #fff;
    border-radius: 40px;

    position: relative;
}

.learn_mian{

    padding-left: 5%;

}

.com_title{
    display: inline-block;
    vertical-align: middle;
    padding: 3px 20px;
    border: 2px solid #97D042;
    background: #A6E24E;
    color: #fff;
    border-radius: 15px;
    margin-right: 10px;
}
.colDF6A1A{
    color:#DF6A1A
}
.learn_con{
    display: flex;
    padding-left:5%;
    height: 70%;
    padding-top: 3%;
    margin-bottom: 5%;
    position: relative;
}

.learn_con_left{
    width: 25%;
    /*background: url("../../images/xiangyixiang_img1.png")no-repeat;*/
    /*background-size:100%100%;*/
    height: 100%;
    margin-right: 3%;
}

.learn_ul{
    position: absolute;
    right: 5%;
    top:20%;

    /*display: flex;*/
}

.learn_ul li{
    width: 35px;
    border: 2px solid #fff;
    border-radius: 20px;
    text-align: center;
    padding: 5px 0;
    margin-bottom: 20px;
    color: #fff;
}

.learn_img{
    /*background: url("../../images/digitization_course/chayicha.png")no-repeat;*/
    background-size:100%100%;
    margin-top: 8%;
    width:88%;

    height: 85%;
    position: relative;

}


/*首页*/
.learn_select0{
    width: 100%;
    height: 86%;
}




.learn_img .head_img{
    top:-12%;
    left: 3%;

}

.learn_img .dis_word{
    top:-1%;
    left: 20%;
}
.learn_con_middle{
    width: 65%;
}
.learn_con_middle ul{
    height: 47.5%;
}
.learn_con_middle ul:first-child{
    margin-bottom: 3%;
}
.learn_con_middle ul li{
   float: left;
    width: 46%;
    height: 100%;
}
.learn_con_middle ul li:first-child{
    margin-right: 4%;
}

.span_xiang{
    position: absolute;
    bottom: -30px;
    left: 50px;
}

/*.span_xiang img{*/
    /*display: inline-block;*/
    /*width: 24px;*/
    /*height: 24px;*/
    /*vertical-align: middle;*/
/*}*/

.link_img{
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
}
.span_cha{
    position: absolute;
    bottom: -20px;
    left: 50px;
}

.img_cha1,.img_cha2{
    width: 24px !important;
    height: 24px !important;
    position: absolute;
}

.img_cha1{
    left: 30%;
    top:25%
}

.img_cha2{
    right: 5%;
    top:30%;
}
.span_yi{
    position: absolute;
    bottom: 20px;
    right: 100px;
}

.span_xue{
    position: absolute;
    bottom: -30px;
    left: 50px;
}
.w85{
    width: 85%;
}
.span_ce{
    position: absolute;
    bottom: 20px;
    right: 50px;
}
/*.learn_con_bottom{*/
    /*display: flex;*/
    /*align-items: center;*/

    /*/!*width: 20%;*!/*/


/*}*/

.learn_con_bottom ul{
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.learn_con_bottom  ul li{

    border: 2px solid #fff;
    border-radius: 20px;
    text-align: center;
    padding: 3px 15px;
    margin-right: 20px;
    color: #fff;
}



.learn_word{
    position: absolute;
    top:9%;
    left:25%;
    color: #fff;
}
.w80{
    width: 80%;
}

.corFD1D1B{
    color:#FD1D1B;
}
.corF4D41A{
    color:#F4D41A;
}
.cor42B6D1{
    color:#42B6D1;
}
.corF39535{
    color:#F39535;
}

.backFF9932k{
    background: #FF9932;
}

.back00CD66 {
    background: #00CD66;
}
.pubBtn{
    color: #fff;
    border: none;
    font-size:12px;
    border-radius: 5px;
    padding: 5px 3px;
}
.boy_img{
    position: absolute;
    top:65px;
    left:350px;
    width: 200px;
    height: 150px;
}

.interactive .title{
    width: 180px;
    position: absolute;
    /*top: 105px;*/
    left: 30px;
}

.alignleft{
    text-align: left !important;
}

.resources_detail .learn_right{
    width: 100%;
    padding: 3% 10%;
    position: relative;
}

.ul_img{
    overflow: hidden;
}

.ul_img li{
    float: left;
    width: 30%;
}
.ul_img .active{
    margin:0 5%;
}

.detail_header{
    text-align: center;
    font-weight: bolder;
    margin-bottom: 15px;
}

.detail_footer{
    position: absolute;

   margin: auto;
    left: 0;
    right: 0;

    bottom: 10px;
}
.detail_footer button{
    border: 2px solid #fff;
    border-radius: 20px;
    text-align: center;
    padding: 3px 30px;

    color: #fff;
}

.empty{
    display: inline-block;
    width: 32px;
}

.resource_content{
    display: flex;
    /*align-items: center;*/
    /*justify-content: center;*/
}

.resource_content_ul li{
   float: left;
    width: 24%;
    margin-right: 1%;
    text-align: center;
}
@media(min-height: 900px){
    .js_content{
        top:38%
}

    .head_img{
        top:-12%
    }

    .dis_main ul li{
        padding-top: 35px;
    }
}

@media (min-height: 800px) and (max-height: 899px)  {
    .head_img{
        top:-13%
    }
}