/* 课程评价 */
.evaluation-subMenu{
    width: 100px;
    /*margin-left: 8px;*/
}
.evaluate{
    background: url('../../images/evaluate/kechengpingjia_bg.png');
    /*background-size: 100%;*/
}
.self-evaluate .title{
    width: 100px;
}
.inline-btn{
    display: inline-block;
    padding: 4px 30px;
    border-radius: 51px;
    border: 3px solid #fff;
    color: #fff;
    cursor: pointer;
}
.evaluate .back{
    float: right;
    background: #2FACCD;
}
.evaluate .card{
    background: #F2B030;
    position: absolute;
    right: 30px;
    top: 124px;
}
.intera-content{
    width: 100%;
    background: #fff;
    border: 4px solid #F2B030;
    border-radius: 42px;
    padding: 20px;
    height: 440px;
    margin-top: 60px;
    position: relative;
}
.self-evaluate>.wrapper{
    padding-top: 115px;
    width: 70%;
    margin: 0 auto;
}
.subtitle-parent{
    float: left;
    margin-left: 200px;
    position: relative;
    margin-top: 10px;
    margin-bottom: -10px;
}
.interactive .review{
    width: 200px;
    left: 350px;
    top: 120px;
    cursor: pointer;
    position: absolute;
}
.self-evaluate-subtitle{
    text-shadow: 2px 2px #2FACCD;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
}
.self-evaluate-subtitlewrap{
    background: #fff;
    padding: 10px 25px;
    border-radius: 15px;
    border: 3px solid #2FACCD;
    position: absolute;
    left: 120px;
    width: 195px;
    top: 39px;
}
.self-evaluate-subtitlewrap li{
    cursor: pointer;
    line-height: 24px;
}
.FACCD{
    color: #2FACCD;
}
.self-evaluate-lists{
    margin-top: 45px;
    width: 100%;
    background: #fff;
    border: 4px solid #2FACCD;
    border-radius: 15px;
    padding: 20px;
}
.mutual-container{
    margin-top: 26px;
    max-height: 470px;
    min-height: 440px;
    overflow: auto;
    font-size: 14px;
}
.top20{
    margin-top: 20px;
}
.mutual-container th{
    background: #2FABCD;
    color: #fff;
    text-align: center;
}
.mutual-container input,.mutual-container textarea{
    border-color: transparent;
}
.mutual-container textarea{
    padding-top: 15px;
    width: 100%;
    height: 46px;
}
.self-evaluate-lists .q{
    margin-left: 20px;
    border-bottom: 2px dashed #2FACCD;
    margin-bottom: 18px;
    padding-bottom: 9px;
}
.self-evaluate-lists .q1 li{
    float: left;
    margin-right: 30px;
}
.self-evaluate-lists li label{
    cursor:pointer;
    font-weight: normal;
}
.my-wrapper{
    width: 70%;
    margin:0 auto;
    position: relative;
    padding-top: 130px;
}
.save-btn{
    cursor: pointer;
    background: #37BCDF;
    display: inline-block;
    padding: 4px 30px;
    border-radius: 51px;
    color: #fff;
}
.teacher-evaluate .back{
    position: absolute;
    top: 150px;
    right: 30px;
    width: 200px;
    cursor: pointer;
}
.teacher-evaluate .title{
    width: 225px;
    position: absolute;
    top: 118px;
    left: 30px;
}
.teacher-evaluate .lists{
    position: absolute;
    left: 50px;
    top: 225px;
    padding:20px 50px 0 0;
}
.teacher-evaluate .list-item{
    border-bottom: 2px dotted #3FC0F7;
    padding-bottom: 20px;
}
.teacher-evaluate .list-item:nth-of-type(3n+3){
    width: 80%;
}
.teacher-evaluate .list-title{
    margin:15px 0;
    color: #46B8D3;
}
.teacher-evaluate .list-item:nth-of-type(1) .list-title{
    margin-top: 0;
}
.teacher-evaluate .list-item p{
    line-height: 27px;
}
.teacher-pagination > li:first-child > a,
.teacher-pagination > li:first-child > span,
.teacher-pagination > li:last-child > a,
.teacher-pagination > li:last-child > span{
    background: #46B7D7;
}

.teacher-pagination > .active > a,
.teacher-pagination > .active > span,
.teacher-pagination > .active > a:hover,
.teacher-pagination > .active > span:hover,
.teacher-pagination > .active > a:focus,
.teacher-pagination > .active > span:focus{
    background: #69D5F2;
}
.mutual-title{
    float: left;
    width: 240px;
}
.mutual-evaluate .avater-wrap{
    text-align: center;
}
.mutual-evaluate .avater-wrap>span{
    position: absolute;
    left: 280px;
}
.mutual-evaluate .avater-wrap>span:nth-of-type(2){
    left: 400px;
}
.mutual-evaluate .avater-wrap>span:nth-of-type(3){
    left: 515px;
}
.mutual-evaluate .avater-wrap img{
    width: 85px;
    cursor: pointer;
}
.mutual-cards{
    margin-top: -40px;
    float: left;
    width: 100%;
    height: 290px;
}
.mutual-cards ul{
    margin-top: 70px;
    margin-left: 30px;
}
.mutual-evaluate .back{
    margin-right: 60px;
}
.mutual-evaluate .blue-wrap{
    position: absolute;
    top: 270px;
    left: 30px;
}
.blue-wrap i{
    font-size: 30px;
    position: absolute;
    color: #fff;
    top: 5px;
}
.class-wrap{
    width: 280px;
}
.blue-wrap .text{
    position: absolute;
    top: 7px;
    left: 51px;
    font-size: 20px;
    color: #fff;
}
.class-container>.left{
    left: 14px;
}
.class-container>.right{
    left: 242px;
}
.calendar-wrap{
    width: 280px;
    margin-left: 25px;
}
.calendar-wrap+span{
    left: 60px;
}
.mutual-evaluate .fa-clock-o{
    right: 12px;
}
.mutual-evaluate .logs-wrap{
    position: absolute;
    top: 330px;
    left: 30px;
    width: 80%;
}
.mutual-evaluate .logs{
    height: 38px;
    line-height: 38px;
}
.mutual-evaluate .thumbs{
    color: #F8CF73;
    font-size: 20px;
    margin-right: 5px;
}
.mutual-evaluate .footer{
    padding-top: 15px;
}
.footer-li{
    margin-left: 60px;
}
.zan-title{
    margin-left: 60px;
    font-size: 18px;
    color: #F3B132;
    font-weight: bold;
}
.jiangpai{
    position: absolute;
    top: -3px;
    left: -5px;
    width: 70px;
}
.mutual-evaluate .zan-log-wrap{
    background: #fff;
    border-radius: 35px;
    border: 7px solid #F3B132;
    width: 100%;
    float: right;
    padding: 20px;
    position: relative;
}
.mutual-evaluate .zan{
    float: left;
    width: 160px;
}
.mutual-evaluate .get-more{
    text-align: center;
    color: #F8CF73;
    font-weight: bold;
    cursor: pointer;
    float: right;
}
.mutual-evaluate .zan-total{
    text-align: center;
    position: absolute;
    width: 82px;
    left: -107px;
    font-size: 23px;
    top: 37px;
}
.mutual-evaluate .zan-total span{
    color: #90CFE4;
    font-weight: bold;
}
.mutual-evaluate .thumbs-left{
    margin-left: -10px;
}
.mutual-evaluate .thumbs-rotate{
    transform: rotateY(180deg);
}
.intera_list{
    left: -5px;
}
.intera_list ul{
    width: 67px;
}
.interactive_watch .video{
    width: 520px;
    height: 265px;
    background: url(../../images/interactive/video.png);
    background-size: 100% 100%;
    float: left;
    position: relative;
    left:50px
}
.interactive_watch .color-pot{
    width: 40px;
    height: 40px;
    margin-top: 14px;
    display: block;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 40px;
    left: -50px;
    position: relative;
    cursor: pointer;
}
.interactive_watch .green-pot{
    background: url(../../images/interactive/green-pot.png);
    background-size: 100%;
}
.interactive_watch .orange-pot{
    background: url(../../images/interactive/orange-pot.png);
    background-size: 100%;
}
.interactive_watch .yellow-pot{
    background: url(../../images/interactive/yellow-pot.png);
    background-size: 100%;
}
.interactive_watch .blue-pot{
    background: url(../../images/interactive/blue-pot.png);
    background-size: 100%;
}
.interactive_watch .canlendar{
    width: 320px;
    height: 265px;
    background: url(../../images/interactive/canlendar.png);
    background-size: 100% 100%;
    float: right;
    margin-left: 20px;
    /*margin-top: 10px;*/
}
.interactive_watch{
    position: relative;
}
.interactive_watch .title{
    position: absolute;
    width: 225px;
    height: 65px;
    left: 125px;
    top:75px;
}
.interactive_watch .footer{
    width: 100%;
    height: 222px;
    background: url(../../images/interactive/footer-wrap.png);
    background-size: 100% 100%;
    padding: 15px 25px;
}
.interactive_watch .video-btn{
    color: #fff;
    text-align: center;
}
.interactive_watch .color-pot:nth-of-type(1){
    margin-top: 30px;
}
.interactive_watch .video-btn>span{
    background: #382A10;
    display: inline-block;
    padding: 3px 10px;
    border-radius: 19px;
    cursor: pointer;
    margin-right: 10px;
}
.intera-footer-title{
    font-size: 20px;
    color: #F6AB38;
    font-weight: bold;
}
.intera-footer-li{
    height: 30px;
    line-height: 30px;
}
.intera-footer-scroller{
    display: inline-block;
    float: left;
    width: 9px;
    height: 115px;
    background: url(../../images/interactive/scroller.png);
    background-size: 100% 100%;
    margin-left: 30px;
    margin-right: 53px;
}
.interactive_watch .wrap-house{
    float: left;
    width: 32%;
    /*width: 324px;*/
    height: 198px;
    background: url(../../images/interactive/wrap-house.png);
    background-size: 100% 100%;
    margin-top: -38px;
    padding-top: 70px;
    padding-left: 20px;
    color: #fff;
    position: relative;
}
.intera-footer-save-btn{
    border-radius: 20px;
    border: 1px solid #fff;
    background: #fff;
    color: #F6AB38;
    padding: 0 10px;
    position: absolute;
    bottom: 20px;
    left: 40%;
}


/* 互动学习 */
.interactive{
    position: relative;
    margin:0 auto;
}

.interactive-wrap{
    width: 100%;
    height: 600px;
}
.intera-title{
    color: #F2B131;
    font-size: 50px;
    position: absolute;
    top: 120px;
    left: 51px;
    font-weight: bold;
}
.intera-cards-bg{
    position: absolute;
    right: -10px;
    top: 95px;
}
.intera-cards-bg>span{
    position: absolute;
    top: 36px;
    right: 45px;
    font-size: 22px;
    cursor: pointer;
    color: #fff;
}
.intera-nav{
    position: absolute;
    left: 57px;
    top: 210px;
    cursor: pointer;
    font-size: 22px;
}
.intera-nav:nth-of-type(2){
    left: 250px;
}
.intera-nav:nth-of-type(3){
    left: 450px;
}
.intera-nav>span{
    color: #fff;
    position: absolute;
    left: 21px;
    top: 5px;
}
.intera-nav>.arrow{
    position: absolute;
    right: 10px;
    top: 7px;
    width: 25px;
}
.intera-question{
    position: absolute;
    top: 260px;
    left: 50px;
    width: 90%;
}
.intera-question li{
    margin-bottom: 15px;
    position: relative;
}
.intera-question .img-wrap{
    display: inline-block;
    text-align: center;
    vertical-align: -44px;
    margin-right: 20px;
}
.intera-question .img-wrap img{
    /*margin-bottom: 10px;*/
}
.intera-question .text,.intera-question .date{
    font-size: 20px;
}
.intera-question .data-icon{
    position: absolute;
    right: 0;
    top: 28px;
    text-align: right;
}
.intera-question .icons{
    color: #F2B030;
}
.pagination{
    position: absolute;
    left: 37%;
    bottom: 30px;
}
.split-line{
    padding-top: 15px;
}
.teacher-evaluate .pagination{
    bottom: 0px;
}
.self-evaluate .pen{
    width: 150px;
    position: absolute;
    left: 400px;
    top: 72px;
}
.teacher-evaluate tr{
    border-bottom: 2px dashed #2FACCD;
}
.teacher-evaluate th{
    text-align: center;
}
.teacher-table{
    margin-bottom: 30px;
    border-collapse:separate; 
    border-spacing:0px 20px;
    margin-left: -60px;
    text-align: center;
}
.write-now{
    background: #F3B132;
    border: 1px solid #F3B132;
    border-radius: 15px;
    color: #fff;
    padding: 2px 11px;
    font-size: 14px;
}


@media (max-width:1024px){
    .common-title{
        width: 170px!important;
        height: auto!important;
    }
    .back{
        width: 150px!important;
    }
    .interactive_watch .color-pot{
        margin-top: 9px;
    }
    .interactive_watch .color-pot:nth-of-type(1){
        margin-top: -22px;
    }
    .intera-footer-li{
        font-size:14px;
    }
    .intera-footer-title{
        font-size:16px;
    }
    .interactive_watch .wrap-house{
        width: 32%;
    }
    .intera-footer-scroller{
        margin-right: 15px;
    }
    .interactive_watch .video{
        width: 350px;
        height: 262.5px;
    }
    .interactive_watch .canlendar{
        width: 293px;
    }
    .interactive_watch .video-btn{
        font-size: 14px;
        margin-top: 40px;
    }
    .interactive_watch .footer{
        margin-top: 18px;
        padding-top: 20px;
        padding-left: 30px;
    }
    .mutual-evaluate .avater-wrap>span{
        left: 200px;
    }
    .mutual-evaluate .avater-wrap>span:nth-of-type(2){
        left: 282px;
    }
    .mutual-evaluate .avater-wrap>span:nth-of-type(3){
        left: 367px;
    }
    .mutual-evaluate .logs{
        font-size: 14px;
        height: 30px;
        line-height: 30px;
    }
    .mutual-cards{
        height: 210px;
    }
    .mutual-evaluate .zan{
        width: 138px;
    }
    .mutual-evaluate .zan-total{
        font-size: 20px;
        width: 86px;
    }
    .teacher-evaluate .list-item p{
        font-size: 14px;
        line-height: 23px;
    }
    .teacher-evaluate .list-title{
        font-size: 21px;
    }
    .intera-nav{
        width: 120px;
        font-size: 16px;
    }
    .intera-nav:nth-of-type(2){
        left: 198px;
    }
    .intera-nav:nth-of-type(3){
        left: 342px;
    }
}
@media (max-width:1366px){
    .evaluate{
        background-size: 100%;
    }
    .interactive-wrap{
        width: 100%;
        height: 510px;
        float: left;
    }
    .intera-title{
        font-size: 40px;
        top: 120px;
    }
    .intera-cards-bg{
        top: 95px;
        width: 197px;
    }
    .intera-cards-bg>span{
        top: 28px;
        right: 29px;
        font-size: 20px;
    }
    .intera-nav{
        top:20px;
        width: 130px;
        font-size: 18px;
    }
    .intera-question{
        top: 76px;
        width: 89%;
    }
    .intera-question li{
        margin-bottom: 15px;
    }
    .intera-question .img-wrap{
        vertical-align: -39px;
    }
    .intera-question .text, .intera-question .date{
        font-size: 16px;
    }
    .intera-question .data-icon{
        top: 0;
    }
    .interactive .split-line{
        padding-top: 11px;
        height: 12px;
    }
    .intera-question .img-wrap img{
        width: 45px;
        margin-bottom: 3px;
    }
    .intera-nav>.arrow{
        width: 20px;
    }
    .intera-nav:nth-of-type(2){
        left: 220px;
    }
    .intera-nav:nth-of-type(3){
        left: 380px;
    }
    .pagination{
        bottom: 14px;
        left: 32%;
    }
    .teacher-evaluate .pagination{
        bottom: 23px;
    }
    .self-evaluate>.wrapper{
        padding-top: 90px;
        position: relative;
    }
    .self-evaluate .title{
        position: absolute;
        left: 0;
    }
    .self-evaluate .split-line{
        margin: 0 0 15px 0;
        width: 100%;
        height: 25px;
    }
    .self-evaluate .back{
        margin-bottom: -10px;
    }
    .my-wrapper{
        padding-top: 90px;
    }
    .mutual-title{
        width: 100px;
        position: absolute;
    }
    .mutual-evaluate .avater-wrap img{
        width: 58px;
        cursor: pointer;
        display: inline-block;
        margin-right: 10px;
    }
    .mutual-evaluate .avater-wrap>span{
        left: 60px;
        font-size: 14px;
    }
    .mutual-evaluate .text-wrap{
        margin-top: 10px;
        float: right;
    }
    .mutual-evaluate .avater-wrap>span:nth-of-type(2){
        left: 205px;
    }
    .mutual-evaluate .avater-wrap>span:nth-of-type(3){
        left: 352px;
    }
    .mutual-cards{
        background: #fff;
        width: 100%;
        height: 230px;
        border-radius: 40px;
        border: 4px solid #F3B132;
        padding: 20px 30px;
        position: relative;
    }
    .mutual-evaluate .blue-wrap{
        top: 263px;
        left: 25px;
    }
    .blue-wrap .text{
        font-size: 18px;
        top: 5px;
        left: 45px;
    }
    .mutual-evaluate .class-wrap{
        width: 240px;
    }
    .blue-wrap i{
        font-size: 25px;
        top: 6px;
    }
    .class-container>.right{
        left: 209px;
    }
    .calendar-wrap{
        width: 165px;
        height: 36px;
    }
    .mutual-evaluate .logs-wrap{
        top: 310px;
    }
    .mutual-evaluate .logs {
        height: 34px;
        line-height: 34px;
    }
    .mutual-evaluate .zan-log-wrap{
        padding:15px;
    }
    .mutual-evaluate .footer{
        padding-top: 16px;
    }
    .teacher-evaluate .back{
        top: 125px;
        width: 180px;
    }
    .teacher-wrap{
        width: 200px;
        float: left;
        position: absolute;
        left: 0;
    }
    .teacher-evaluate .lists{
        top: 200px;
        left: 40px;
    }
    .teacher-evaluate .list-item{
        margin-bottom: 12px;
        padding-bottom: 11px;
    }
    .teacher-evaluate .list-title{
        margin: 13px 0 12px 0;
        font-size: 24px;
    }
    .teacher-evaluate .list-item p{
        line-height: 25px;
    }
    .teacher-evaluate .my-wrapper{
        padding-bottom: 26px;
    }
    .teacher-evaluate .list-item:nth-of-type(2n+2){
        width: 88%;
    }
}

.course_list .evaluation-subMenu{
    background: #35B1D1;
    border-color: #fff;
}
.course_list .interUrl{
    background: #F3C768;
}

/*学习单*/
.sheet-header{
    background: url('../../images/digitization_course/caidan.png');
    height: 200px;
    width: 12%;
    background-size: 100% 100%;
    padding-top: 60px;
    font-size: 14px;
    text-align: center;
    float: left;
}
.sheet-header a{
    color: #fff;
    cursor: pointer;
    padding-bottom: 7px;
}
.sheet-header-item:nth-of-type(1){
    margin-bottom: 20px;
}
.sheetActive{
    border-bottom:2px solid #fff;
}
.sheet-content{
    margin-top: 3%;
    border: 8px solid #97C83E;
    background: #fff;
    border-radius: 40px;
    width: 88%;
    height: 100%;
    float: right;
    position: relative;
    padding: 30px 30px;
    font-size: 17px;
}
.sheet-course-menu{
    display: inline-block;
    padding: 5px 10px;
    background: #97C83E;
    border: 4px solid #fff;
    border-radius: 40px;
    position: absolute;
    top: -28px;
    left: 30px;
    color: #fff;
    border-bottom-color: #eee;
}
.kinds-of-balance{
    margin-top: 13px;
}
.kinds-of-balance li{
    float: left;
    margin-right: 50px;
}
.kinds-of-balance li:nth-last-of-type(1){
    margin-right: 0;
}
.sheet-imgs{
    padding-left: 80px;
    margin-top: 10px;
}
.sheet-imgs li{
    float: left;
    text-align: center;
    margin-right: 50px;
}
.sheet-imgs img{
    width: 150px;
    margin-bottom: -5px;
}
.sheet-content input{
    width: 21px;
    border: none;
    padding-left: 2px;
}
.sheet-footer span{
    display: inline-block;
    padding: 5px 21px;
    border-radius: 26px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
.sheet-footer{
    padding-left: 90px;
    padding-right: 100px;
    position: absolute;
    bottom: 13px;
    width: 91%;
}
.sheet-footer .page-btn{
    background: #F2A04E;
}
.sheet-footer .back-btn{
    background: #A4E34E;
}
.sheet-table{
    border: 2px solid #333;
    width: 100%;
    margin-top: 10px;
}
.sheet-table li{
    float: left;
    margin-right: 30px;
}
.sheet-table tr{
    border-bottom: 2px solid #ccc;
    height: 50px;
    line-height: 50px;
}
.sheet-table td{
    border-right: 2px solid #ccc;
    text-align: center;
}
.sheet-table textarea{
    border:none;
    width: 100%;
    padding: 15px 30px;
    height: 150px;
    resize:none
}
.sheet-table ul{
    padding-left: 30px;
}
.eee{
    background: #eee;
}
.sheet-table label{
     margin-bottom: 0; 
     font-weight: normal; 
}
input,button,select,textarea{outline:none}
.sheet-steps{
    margin-top: 20px;
    margin-bottom: 40px;
}
.sheet-steps li{
    height: 35px;
    line-height: 35px;
}
.sheet-upload-img{
    border: 2px solid #333;
    text-align: center;
    float: left;
    width: 220px;
    margin-right: 20px;
    height: 309px;
    margin-top: 20px;
    cursor: pointer;
}
.sheet-upload-img .top{
    height: 80%;
    line-height: 244px;
    color: #ccc;
}
.sheet-upload-img .footer{
    height: 20%;
    line-height: 60px;
    background: #eee;
    border-top: 1px solid #ccc;
}