/* 课程评价 */
.evaluation-subMenu{
	width: 100px;
	margin-left: 8px;
}
.evaluate{
    background: url('../../images/bg2.png');
}
.self-evaluate .title{
    width: 250px;
}
.self-evaluate .back{
    float: right;
    width: 150px;
    cursor: pointer;
}
.self-evaluate>.wrapper{
    padding-top: 175px;
    width: 1000px;
    margin: 0 auto;
}
.self-evaluate .split-line{
    margin:20px 0 40px 0;
}
.self-evaluate-lists>li{
    float: left;
    position: relative;
    margin:0 28px 28px 0;
}
.self-evaluate-lists>li:nth-of-type(3n+3){
    margin-right: 0;
}
.self-evaluate-lists img{
    width: 311px;
    height: 250px;
}
.self-evaluate-lists .list-title{
    position: absolute;
    top: 3px;
    left: 93px;
    font-size: 25px;
    color: #39B4D5;
}
.self-evaluate-lists .cards-text{
    width: 260px;
    position: absolute;
    top: 55px;
    font-weight: bold;
    margin-left: 25px;
}
.self-evaluate-lists .cards-text li{
    height: 30px;
    line-height: 30px;
}
.self-evaluate-lists .cards-text li:not(.first){
    margin-left: 20px;
}
.self-evaluate-lists .cards-text li:nth-of-type(2){
    margin-top: 40px;
}
.teacher-evaluate>.wrapper{
    width: 1000px;
    margin:0 auto;
    position: relative;
}
.teacher-evaluate .back{
    position: absolute;
    top: 181px;
    right: 30px;
    width: 200px;
    cursor: pointer;
}
.teacher-evaluate .title{
    position: absolute;
    top: 198px;
    font-size: 50px;
    left: 50px;
    font-weight: bold;
}
.teacher-evaluate .lists{
    position: absolute;
    left: 50px;
    top: 337px;
    padding-right: 50px;
}
.teacher-evaluate .list-item{
    border-bottom: 2px dotted #3FC0F7;
    padding-bottom: 20px;
}
.teacher-evaluate .list-item:nth-of-type(3n+3){
    width: 80%;
}
.teacher-evaluate .list-title{
    margin:20px 0 25px 0;
    color: #46B8D3;
}
.teacher-evaluate .list-item:nth-of-type(1) .list-title{
    margin-top: 0;
}
.teacher-evaluate .list-item p{
    line-height: 27px;
}
.teacher-pagination > li:first-child > a, 
.teacher-pagination > li:first-child > span,
.teacher-pagination > li:last-child > a,
.teacher-pagination > li:last-child > span{
    background: #46B7D7;
}

.teacher-pagination > .active > a,
.teacher-pagination > .active > span,
.teacher-pagination > .active > a:hover, 
.teacher-pagination > .active > span:hover,
.teacher-pagination > .active > a:focus,
.teacher-pagination > .active > span:focus{
    background: #69D5F2;
}



/* 互动学习 */
.interactive{
	position: relative;
	width: 80%;
	margin:0 auto;
}
.intera-title{
    color: #F2B131;
    font-size: 50px;
    position: absolute;
    top: 170px;
    left: 51px;
    font-weight: bold;
}
.intera-cards-bg{
    position: absolute;
    right: 0;
    top: 150px;
}
.intera-cards-bg>span{
	position: absolute;
    top: 36px;
    right: 45px;
    font-size: 22px;
    cursor: pointer;
    color: #fff;
}
.intera-nav{
	position: absolute;
    left: 57px;
    top: 285px;
    cursor: pointer;
}
.intera-nav:nth-of-type(2){
	left: 250px;
}
.intera-nav:nth-of-type(3){
	left: 450px;
}
.intera-nav>span{
	color: #fff;
    position: absolute;
    left: 21px;
    top: 5px;
    font-size: 22px;
}
.intera-nav>.arrow{
    position: absolute;
    right: 10px;
    top: 7px;
    width: 25px;
}
.intera-question{
    position: absolute;
    top: 360px;
    left: 50px;
    width: 90%;
}
.intera-question li{
    margin-bottom: 30px;
    position: relative;
}
.intera-question .img-wrap{
    display: inline-block;
    text-align: center;
    vertical-align: -44px;
    margin-right: 20px;
}
.intera-question .img-wrap img{
    margin-bottom: 10px;
}
.intera-question .text,.intera-question .date{
	font-size: 20px;
}
.intera-question .data-icon{
    position: absolute;
    right: 0;
    top: 28px;
    text-align: right;
}
.intera-question .icons{
	color: #F2B030;
}
.pagination{
    position: absolute;
    left: 40%;
    bottom: 19px;
}
.split-line{
    padding-top: 20px;
}