<div class="h100 course_resource">
    <div class="dig_content">
        <div class="head_img">
            <img ng-src="images/digitization_course/dongwubiaotikuang.png" alt="" class="w100 h100" />
            <span class="dis_word">课程资源</span>
        </div>

            <div class="dig_head">
                <ul >
                    <li ng-repeat="item in menulist" >
                        <a ng-bind="item" class="hover" ng-class="{active:isSelect==$index}" ng-click="selectCourse($index)"></a>
                    </li>
                </ul>
            </div>

            <ul class="operate_ul">
                <li ng-repeat="item in operatelist" class="hover">
                    <button ng-bind="item"></button>
                    <!--<span ></span>-->
                </li>
            </ul>

            <ul class="res_menu">

                <li ng-repeat="item in res_menuList" ng-class="{active:isSelectmenu==$index}" class="hover"
                    ng-click="selectMenu($index)">{{item}}</li>
                

            </ul>


                <ul class="resource_content_ul">
                    <li ng-repeat="item in mainList track by $index">
                        <img ng-src={{item.img}} alt="" class="img-responsive" ng-click="resource_detail($index)"/>
                        <span>第{{$index+1}}课</span><br>
                        <span ng-bind="item.name" class="font-14"></span>

                    </li>
                </ul>





    </div>
</div>