<div class="teacher-evaluate evaluate my h100">
	<div class="my-wrapper">
		<img ng-src="images/evaluate/class-total.png" class="teacher-wrap">
		<div class="cl"></div>
		<div class="self-evaluate-lists">
			<table width="100%" class="teacher-table">
				<tr>
					<th>课时序号</th>
					<th>自评</th>
					<th>互评</th>
					<th>师评</th>
					<th>总分</th>
				</tr>
				<tr ng-repeat="item in entrys">
					<td>第{{$index+1}}课时测量仓鼠的体重</td>
					<td ng-show="item.self">{{item.self}}</td>
					<td ng-show="!item.self">
						<button class="write-now" ng-click="writeNow('self')">马上评价</button>
					</td>
					<td ng-show="item.mutal">{{item.mutal}}</td>
					<td ng-show="!item.mutal">
						<button class="write-now" ng-click="writeNow('mutal')">马上评价</button>
					</td>
					<td ng-show="item.teacher">{{item.teacher}}</td>
					<td ng-show="!item.teacher">
						<button class="write-now" ng-click="writeNow('teacher')">马上评价</button>
					</td>
					<td>{{item.total}}</td>
				</tr>
			</table>
			<ul uib-pagination
				class="pagination-sm teacher-pagination"
				total-items="totalItems"
				items-per-page = "itemsPerPage"
				num-pages="numPages"
				force-ellipses="true"
				ng-model="currentPage"
				ng-change="changePage()"
				max-size="maxSize"
				previous-text="&lsaquo;"
				next-text="&rsaquo;"></ul>
		</div>
	</div>
</div>