<div class="h100 soon_learn resources_detail">
    <div class="learn_content">

        <div class="learn_right h100" >
            <div class="head_img">

                <span class="dis_word">{{title}}</span>

            </div>

            <div class="" ng-if="select==0">
                <div class="detail_header">
                    <span>给动物称体重的方法</span>
                </div>
                <div class="detail_content">
                    <ul class="ul_img h100">
                        <li><img src="images/digitization_course/tupian1.png" alt=""/></li>
                        <li class="active"><img src="images/digitization_course/tupian2.png" alt=""/></li>
                        <li><img src="images/digitization_course/tupian3.png" alt=""/></li>
                        <li><img src="images/digitization_course/tupian4.png" alt=""/></li>
                        <li class="active"><img src="images/digitization_course/tupian5.png" alt=""/></li>
                        <li><img src="images/digitization_course/tupian6.png" alt=""/></li>
                    </ul>
                </div>

                <div class="detail_footer text-center">
                    <button class="backA6E24E hover" onClick="javascript :history.back(-1);"> 返回</button>
                </div>
            </div>

            <div class="" ng-if="select==1">
                <div class="detail_header">
                    <span>立夏习俗——称体重</span>
                </div>
                <div class="detail_content">


                    <div style="float:right; clear: both;" align="center">
                        <img src="images/digitization_course/tupian7.png" width="200" alt="" hspace="8">
                    </div>
                    <span>
                        <i class="empty"></i>立夏是我国传统二十四节气中的一个，它预示着春天即将离去，夏天将要来临。民间有不少关于立夏节气的习俗，例如尝三鲜、斗鸡蛋等，称体重也是立夏的一项重要习俗。
                    </span><br>
                    <span>
                       <i class="empty"></i>体重怎么称？一般来说，就是在屋梁或大树上挂一杆大秤，双手拉住秤钩，两足悬空；小孩坐在箩筐内或四脚朝天的凳子上，箩筐或凳子吊在秤钩上。
                    </span><br>
                    <span>
                        <i class="empty"></i>为什么要在立夏节气称体重呢？因为一般到了夏天，由于气候炎热等原因，人们的体重多少都会下降。在夏季将要到来前的立夏节气称一次体重，等夏天过去之后再称一次体重，就可以校验体重有无增减。该习俗主要流行于我国南方，对维护身体健康、及时诊治身体病症有积极的意义。现在某些地区仍保留该习俗。
                    </span>
                </div>

                <div class="detail_footer text-center">
                    <button class="backA6E24E hover" onClick="javascript :history.back(-1);"> 返回</button>
                </div>
            </div>

            <div class="" ng-if="select==2">
                <div class="detail_header">
                    <span>为什么要给动物测量体长体重</span>
                </div>
                <div class="detail_content">


                    <span>
                        <i class="empty"></i>一些动物园会定期测量动物的体长、体重等数据，而年度测量范围更加广泛。 </span><br>
                    <span>
                       <i class="empty"></i>如此兴师动众地给动物们测量体长、体重，到底是为了什么呢？其实，这是为了衡量动物的健康状况，以及判断它们是否怀孕、动物园的喂养是否正确。
                    </span><br>
                    <span>
                        <i class="empty"></i>动物园的工作人员会将这些收集来的数据输入到动物信息管理系统的一个数据库内，
                        与世界各地的动物园共享，这样人们就能以此对濒危物种的重要信息进行比较。
                        其他动物园也能从这些有价值的信息中获得经验。
                    </span>
                </div>

                <div class="detail_footer text-center">
                    <button class="backA6E24E hover" onClick="javascript :history.back(-1);"> 返回</button>
                </div>
            </div>

            <div class="" ng-if="select==3">
                <div class="detail_header">
                    <span>治理车辆超载的利器——不停车预检系统</span>
                </div>
                <div class="detail_content">


                    <span>
                        <i class="empty"></i>货运卡车超载会给道路交通造成很大的安全隐患，每年发生在全国各地的许多恶性交通事故，
                        都是由卡车超载所导致的。然而，靠执法人员拦车检查的方式安全隐患大且效率低，
                        因治理超限停车检测而造成的交通拥堵现象时有发生。 </span><br>
                    <span>
                       <i class="empty"></i>
                        为了解决这一窘境，目前“不停车预检系统”已在多地投入使用，该系统由高清监控系统、车辆识别系统、动态称重系统、
                        数据采集系统及数据管理系等组成。在检测站上行线方向一定距离内设置该系统，使所有车辆通过高速预检区域时，
                        系统能够自动检测出该车辆的总重、轴重、连轴信息、连轴重量、轮胎数、轴距、车速、车辆加速度等信息。同时，
                        设置在高速预检区域的LED电子显示牌会显示超载车辆的车辆信息，提示并引导车辆进入精检区域。
                    </span><br>
                    <span>
                        <i class="empty"></i>有了“不停车预检系统”，货车驶过瞬间就能准确称出车辆的实际载重，超载车辆从此无所遁形。
                    </span>
                </div>

                <div class="detail_footer text-center">
                    <button class="backA6E24E hover" onClick="javascript :history.back(-1);"> 返回</button>
                </div>
            </div>
        </div>








    </div>


</div>