<div class="h100 course_resource">
    <div class="dig_content">
        <div class="head_img">
            <img ng-src="images/digitization_course/dongwubiaotikuang.png" alt="" class="w100 h100" />
            <span class="dis_word">课程资源</span>
        </div>

            <div class="dig_head">
                <ul >
                    <li ng-repeat="item in menulist" >
                        <a ng-bind="item" class="hover" ng-class="{active:isSelect==$index}" ng-click="selectCourse($index)"></a>
                    </li>
                </ul>
            </div>

            <ul class="operate_ul">
                <li ng-repeat="item in operatelist" class="hover">
                    <button ng-bind="item"></button>
                    <!--<span ></span>-->
                </li>
            </ul>
        <div  >
            <div class="dis_main">
                <ul>
                    <li ng-repeat="item in mainList track by $index">
                        <img ng-src={{item.img}} alt="" class="img-responsive" ng-click="resource_detail($index)"/>
                        <span>第{{$index+1}}课</span><br>
                        <span ng-bind="item.name" class="font-14"></span>

                    </li>
                </ul>
            </div>

            <ul uib-pagination
                class="pagination-sm resources_pagination"
                total-items="totalItems"
                items-per-page = "itemsPerPage"
                num-pages="numPages"
                force-ellipses="true"
                ng-model="currentPage"
                ng-change="changePage()"
                max-size="maxSize"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"></ul>
        </div>

    </div>
</div>