<div class="h100 digitization_course">
   <div class="dig_content">

       <div class="head_img">
           <img ng-src="images/digitization_course/dongwubiaotikuang.png" alt="" class="w100 h100" />
           <span class="dis_word">数字化教材</span>
       </div>


       <div class="dig_head">
            <ul >
                <li ng-repeat="item in liList" >
                    <a ng-bind="item" class="hover" ng-class="{active:isSelect==$index}" ng-click="select_dis($index)"></a>
                </li>
            </ul>
       </div>

       <div class="dis_main">
            <ul>
                <li ng-repeat="item in mainList track by $index">
                    <img ng-src={{item.img}} alt="" class="img-responsive w100" ui-sref="main.soon_learn"/>
                    <span>第{{$index+1}}课</span><br>
                    <span ng-bind="item.name" class="font-14"></span>

                </li>
            </ul>
       </div>

       <!--<ul uib-pagination-->
           <!--class="pagination-sm resources_pagination"-->
           <!--total-items="totalItems"-->
           <!--items-per-page = "itemsPerPage"-->
           <!--num-pages="numPages"-->
           <!--force-ellipses="true"-->
           <!--ng-model="currentPage"-->
           <!--ng-change="changePage()"-->
           <!--max-size="maxSize"-->
           <!--previous-text="&lsaquo;"-->
           <!--next-text="&rsaquo;"></ul>-->
   </div>
</div>

