<div class="evaluate interactive h100">
		<div class="my-wrapper">
			<img ng-src="images/interactive/biaobi2.png" class="title common-title">
			<span class="back inline-btn my-back" ng-click="backInteractive()">返回</span>
			<div class="cl"></div>
			<div class="intera-content my-content">
				<div class="new-title">
					<label>标题：</label>
					<input type="text" ng-model='title'>
				</div>
				<div class="new-content">
					<label>正文：</label>
					<textarea></textarea>
				</div>
			</div>
		</div>
	</div>
</div>