<div ng-show="course1">
    <p>要测量图片中这些物体的重量，分别应当使用什么测量工具？将测量工具的编号填写到图片下方的括号里。</p>
    <ul class="kinds-of-balance">
        <li>A . 电子秤</li>
        <li>B . 体重秤</li>
        <li>C . 地磅</li>
        <li>D . 电子天平</li>
        <li>E . 天平秤</li>
        <li>F . 吊钩秤</li>
        <div class="cl"></div>
    </ul>
    <ul class='sheet-imgs'>
        <li>
            <img ng-src="images/digitization_course/sky.png">
            <p>（ <input type="text" ng-model='balance.type1'>）</p>
        </li>
        <li>
            <img ng-src="images/digitization_course/frog.png">
            <p>（ <input type="text" ng-model='balance.type2'>）</p>
        </li>
        <li>
            <img ng-src="images/digitization_course/gril.png">
            <p>（ <input type="text" ng-model='balance.type3'>）</p>
        </li>
        <li>
            <img ng-src="images/digitization_course/elephant.png">
            <p>（ <input type="text" ng-model='balance.type4'>）</p>
        </li>
        <li>
            <img ng-src="images/digitization_course/book.png">
            <p>（ <input type="text" ng-model='balance.type5'>）</p>
        </li>
        <li>
            <img ng-src="images/digitization_course/jewel.png">
            <p>（ <input type="text" ng-model='balance.type6'>）</p>
        </li>
        <div class="cl"></div>
    </ul>
</div>